
@font-face {
  font-family: 'Catamaran';
  src: url("./Fonts/Catamaran/Catamaran-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Roboto';
  src: url("./Fonts/Roboto/Roboto-Regular.ttf") format('ttf');
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  background-color: var(--body-background-color);
}


/* :root {

  --body-background-color: #ffffff;
  --texst-color: #000000;
  --body-background-color-Black: #121212;

  

  --text-color-p: #757575;
  --text-color-p-head:#858585;
  --button-hover-focus: #188ce8;
  --footer-bacground-color: #2f303a;
  --teams-bacground-color: #f5f4fa;
  --border-color: #eeeeee;
  --icone-color: #afb1b8;
  --icone-bg-color: #f5f4fa;
  --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);
} */

html[data-theme='dark'] {
    --body-background-color: #121212;
    --texst-color: #ffffff;
      --button-text-color: #ffffff;
        --button-background-color:  #121212;
        --button-border-color: #5f0101;
}
html[data-theme='light'] {
  --body-background-color: #ffffff;
    --texst-color: #000000;
      --button-text-color: #252525;
        --button-background-color: #f9f9f9;
        --button-border-color:  #121212;
}
/* .app__container {
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}

.app__logo {
  color: var(--icon-color);
  transition: color 500ms linear;
}

.app__button,
.app__button:hover,
.app__button:focus,
.app__button:active,
.app__button:not(:disabled):not(.disabled):active {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  transition: color 500ms linear, background-color 500ms linear,
    border-color 500ms linear;
} */